*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{

}


/* HEADER  */

header{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  height:100px;
  background-color:#b4d6e3;
}

.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 1300px;
}  

.logo-img{
  width: 200px;

}

.debug{
  background-color: rgb(255, 183, 0);
  border: 1px dashed black;
}

nav{
width:700px;
height:50px;
}

nav ul{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style: none;
}


nav ul li a{
  display: flex;
  justify-content:center;
  align-items: center;
  text-decoration: none;
  display: inline-block;
  padding: 15px 10px;
}

nav ul li a:hover{
  background-color: rgb(135, 0, 0);
}


.login{
  width: 200px;
}

.jumbotron{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#000084;
  height: 600px;
}

.jumbo-box{
  display: flex;
  justify-content: center;
  /* align-items: center; */
  background-color: #df86e8;
  width: 1000px;
  height: 500px;
}

.jumbo-text{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  
}

.top-button{

}

.scarica{

}

.browser{
  
}

/* MAIN  */

.box-channel{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  height: 500px;
}

.box-channel .channel-img{
  width: 800px;
  height: 400px;
  background-color: #478df7;
}

.channel-text{
  background-color: #df86e8;
  width: 600px;
  height: 400px;

}



.box-vocal{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #d2d2d2;
  height: 500px;
}


.vocal-text{
  background-color: #df86e8;
  width: 600px;
  height: 400px;
}

.box-vocal .vocal-img{
  width: 800px;
  height: 400px;
  background-color: #478df7;
}

.box-community{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  height: 500px;
}

.community-img{
  width: 800px;
  height: 400px;
  background-color: #478df7;
}

.community-text{
  background-color: #df86e8;
  width: 600px;
  height: 400px;
}

.box-video{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #d2d2d2;
  height: 900px;
}

.video-call{
  background-color: #468836;
  width: 100%;
  height: 800px;
}






/* FOOTER  */

footer{
}

.utilities{ 
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:600px;
  background-color: #282b2e;
}

.language{
  
  background-color: #e08582;
  width: 350px;
  height: 480px;
}

.resources{   
  background-color:#56aea8;
  width: 230px;
  height: 480px;

}


.final{
  display: flex;
  align-items: flex-end;
  height: 150px;
  background-color: #282b2e;
  margin-top:2px;
  margin-bottom: 2px;;
}

.bottom-foot{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 90px;
  background-color: #9ffcd5;
}

.logo-foot{

}


.registrati{

}